.particleBackground {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.mainWrap {
  padding: 5em;
  max-width: 1200px;
  margin: 0 auto;
}

.welcomeHeader {
  font-weight: 600;
  font-size: 3em;
}

.subHeader {
  font-weight: 500;
  font-size: 1.5em;
  margin-top: 50px;
  color: #00a3ff;
}

.mainWrap article div {
  margin: 10px 0;
}

@media (max-width: 1000px) {
  .mainWrap {
    padding: 2.5em;
  }

  .welcomeHeader {
    font-size: 2.2em;
  }
}
